/* Background */
.background-container {
  background: url("../images/Rectangle-4.jpg") no-repeat 900px top / 300px 1022px;
  position: relative;
  overflow: hidden;
}

/* Header */
.h1-text {
  width: 719px;
  height: 200px;
  margin: 80px 0 0;
  font: 600 80px/100px Lexend;
  color: #344054;
}

/* Paragraph */
.p-text {
  font: 400 24px/30px Lexend;
  color: #666666;
  margin-top: 24px;
  width: 660px;
  height: 60px;
}

/* Main Content */
.main-content {
  padding-top: 119px;
}

/* BMW Section */
.bmw {
  margin-top: 133px;
}

.bmw-text {
  font: 400 36px/45px Lexend;
  text-align: left;
}

/* Flex Containers */
.container-2 {
  display: flex;
  background: #F2F4F7;
  justify-content: flex-start;
  gap: 60px;
  margin-bottom: 48px;
}

/* Columns */
.column-2 {
  display: flex;
  align-items: flex-start;
}

.column-2:first-child {
  margin-left: 0;
}

/* Logo */
.logo-text {
  font: 400 16px/20px Lexend;
  color: #98A2B3;
}

.logo-subtext {
  font: 300 24px/30px Lexend;
  color: #667085;
}

/* Horizontal Line */
.container-line {
  display: flex;
  align-items: center;
  margin-bottom: 155px;
}

.line {
  width: 560px;
  height: 1px;
  background-color: #98A2B3;
}

/* Images */
.svg-img, .img-fluid {
  width: 8px;
  height: 8px;
}

.img-fluid {
  width: 800px;
  height: 521px;
  margin-left: 100px;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .h1-text {
    font-size: 50px;
    height: auto;
    line-height: 60px;
    padding: 0;
    margin: 0;
  }

  .p-text {
    width: 100%;
    height: 40px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    padding-bottom: 0;
  }

  .bmw {
    margin-top: 0;
  }

  .bmw-text {
    font-size: 30px;
    line-height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo-text {
    font-size: 12px;
    line-height: 15px;
    color: #98A2B3;
  }

  .logo-subtext {
    font-size: 18px;
    line-height: 30px;
    color: #667085;
  }

  .container-2 {
    gap: 50px;
    margin-bottom: 48px;
  }

  .container-line {
    margin-bottom: 40px;
  }

  .img-fluid {
    width: 100%;
    height: 400px;
    margin-left: 0;
    margin-top: 0;
  }
}
